<div class="announcement announcement--fixed-bottom">
  <div class="announcement__wrapper">
    {% if section.settings.announcement_link != blank %}
      <a href="{{ section.settings.announcement_link }}" class="announcement__link">
    {% endif %}

    <div class="announcement__text" data-text="{{ section.settings.announcement_text | strip_html | handle }}">
      {{ section.settings.announcement_text | strip_html }}
    </div>

    {% if section.settings.announcement_link != blank %}
      </a>
    {% endif %}
  </div>
</div>
