{%- assign fixed_aspect_ratio = false -%}
{% unless image_size == 'natural' %}
  {%- assign fixed_aspect_ratio = true -%}
{% endunless %}

<article class="article-listing" data-aos>

  {%- if article.image -%}
    <div class="article__image-wrap">
      <a href="{{ article.url }}" class="article__grid-image">
        {% if fixed_aspect_ratio %}
          <div class="image-wrap">
            <div
              class="grid__image-ratio grid__image-ratio--cover grid__image-ratio--{{ image_size }} lazyload"
              data-bgset="{% render 'bgset', image: article.image %}"
              data-sizes="auto">
            </div>
            <noscript>
              <img class="lazyloaded" src="{{ article.image | img_url: '400x' }}" alt="{{ article.title | escape }}">
            </noscript>
          </div>
        {% else %}
          <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: article.image.aspect_ratio }}%;">
            {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="lazyload"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080]"
                data-aspectratio="{{ article.image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ article.image.alt | escape }}">
            <noscript>
              <img class="lazyloaded" src="{{ article.image | img_url: '400x' }}" alt="{{ article.title | escape }}">
            </noscript>
          </div>
        {% endif %}
      </a>
    </div>
  {%- endif -%}

  <div class="article__content text-center">
    <div class="article__content-meta">
      <div class="h3">
        <a href="{{ article.url }}">{{ article.title }}</a>
      </div>

      <div class="article__date">
        {%- assign first_item = true -%}
        {% if show_tags and article.tags.size > 0 %}
          {% for tag in article.tags %}
            {% if tag contains "_" %}{%- assign tag_starts_with = tag | slice: 0 -%}{% if tag_starts_with == "_" %}{% if tag_count %}{%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}{% continue %}{% endif %}{% endif %}
            {% unless first_item %} &middot; {% endunless %}{%- assign first_item = false -%}
            <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
              {{ tag }}
            </a>
          {% endfor %}
        {% endif %}
        {% if show_comments and article.comments_count > 0 %}
          {% unless first_item %} &middot; {% endunless %}{%- assign first_item = false -%}
          <a href="{{ article.url }}#comments">
            {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
          </a>
        {% endif %}
        {% if show_date %}
          {% unless first_item %} &middot; {% endunless %}{%- assign first_item = false -%}
          {{ article.published_at | time_tag: format: 'month_day_year' }}
        {% endif %}
      </div>

      {% if show_author %}
        <div class="article__author">by {{ article.author }}</div>
      {% endif %}
    </div>

    {% if show_excerpt and article.excerpt.size > 0 %}
      <div class="rte rte--block">
        {{ article.excerpt }}
      </div>
    {% endif %}
  </div>
</article>
