<div id="CartDrawer" class="drawer drawer--cart{% if cart.items.size < 3 %} drawer--cart--static{% endif %}" data-drawer="true">
  <form action="{{ routes.cart_url }}" method="post" novalidate class="drawer__contents cart ajaxcart{% if cart.items.size == 0 %} cart--empty{% endif %}">
    <div class="drawer__header">
      <div class="drawer__close text-right">
        <button type="button" class="drawer__close-button js-drawer-close">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
          <span class="icon__fallback-text">{{ 'cart.general.close_cart' | t }}</span>
        </button>
      </div>
    </div>
    <div class="drawer__inner">
      <div class="drawer__scrollable">
        <div class="cart__empty-text text-center">
          <p>{{ 'cart.general.empty' | t }}</p>
          <p class="rte">{{ 'cart.general.continue_browsing_html' | t: url: routes.all_products_collection_url }}</p>
        </div>

        {% comment %}
          Cart items. If no items, include an hidden element to reference
          as our template
        {% endcomment %}
        <div class="cart__items" data-cart-item-list>
          {%- assign cartItems = 'template ' | split: ' ' -%}
          {% if cart.items.size > 0 %}
            {%- assign cartItems = cart.items -%}
          {% endif %}

          {% for item in cartItems %}
            <div class="cart__item ajaxcart__product{% if item == 'template' %} ajax-cart__template{% endif %}" data-cart-item data-cart-item-id="{{ item.key }}" aria-live="polite">
              <div class="cart__row-product ajaxcart__row-product">
                {% assign itemImage = true %}
                {% if item.image == blank and item.product.featured_image == blank %}
                  {% assign itemImage = false %}
                {% endif %}
                <div class="cart__product-image-wrap">
                  <a
                    href="{{ item.url }}"
                    class="cart__product-image lazypreload{% if itemImage %} lazyload{% endif %}"
                    data-cart-item-href
                    data-cart-item-background-image
                    data-sizes="auto"
                    {% if itemImage %}
                      data-bgset="{% render 'bgset', image: item.image %}"
                    {% endif %}
                  ></a>
                </div>

                <div class="ajaxcart__item-content">
                  <div class="grid grid--small">
                    <div class="grid__item three-quarters">
                      <a href="{{ item.url }}" class="cart__product-name" data-cart-item-href data-cart-item-title>
                        {{ item.product.title }}
                      </a>

                      <span class="cart__item-subtitle cart__item-subtitle--inline" data-cart-item-variant-title>
                        {%- unless item.product.has_only_default_variant -%}
                          {{ item.variant.title }}
                        {%- endunless -%}
                      </span>

                      <span data-cart-item-price-container>
                        {%- if item.original_price != item.final_price -%}
                          <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                          <del class="cart__item-price--original">{{ item.original_price | money }}</del>
                          <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                          <span class="cart__item-price cart__item-price--bold">{{ item.final_price | money }}</span>
                        {%- else -%}
                          <span class="cart__item-price">{{ item.original_price | money }}</span>
                        {%- endif -%}
                      </span>

                      {%- assign itemProperties = 'template ' | split: ' ' -%}
                      {%- assign property_size = item.properties | size -%}
                      {% if property_size > 0 %}
                        {%- assign itemProperties = item.properties -%}
                      {% endif %}

                      <div class="cart__item-subtitle" data-cart-item-property-list>
                        {% for p in itemProperties %}
                          {% assign first_character_in_key = p.first | truncate: 1, '' %}
                          {% unless p.last == blank or first_character_in_key == '_' %}
                            <div class="{% if p == 'template' %} ajax-cart__template{% endif %}{% if p.last == blank %} visually-hidden{% endif %}" data-cart-item-property>
                              {{ p.first }}:

                              {% comment %}
                              Check if there was an uploaded file associated
                              {% endcomment %}
                              {% if p.last contains '/uploads/' %}
                                <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                              {% else %}
                                {{ p.last }}
                              {% endif %}
                            </div>
                          {% endunless %}
                        {% endfor %}
                      </div>

                      <div data-cart-item-discount-list>
                        {%- for discount_allocation in item.line_level_discount_allocations -%}
                          <div data-cart-item-discount>
                            <small>
                              <span data-cart-item-discount-title>{{ discount_allocation.discount_application.title }}</span>
                              (-<span data-cart-item-discount-amount>{{ discount_allocation.amount | money }}</span>)
                            </small>
                          </div>
                        {%- endfor -%}
                      </div>

                      {%- if item.unit_price_measurement -%}
                        <div data-cart-item-unit-price class="product__unit-price">
                          {%- capture unit_price_base_unit -%}
                            {%- if item.unit_price_measurement -%}
                              {%- if item.unit_price_measurement.reference_value != 1 -%}
                                {{ item.unit_price_measurement.reference_value }}
                              {%- endif -%}
                              {{ item.unit_price_measurement.reference_unit }}
                            {%- endif -%}
                          {%- endcapture -%}

                          {{ item.unit_price | money }}/{{ unit_price_base_unit }}
                        </div>
                      {%- endif -%}

                    </div>
                    <div class="grid__item one-quarter text-right">

                      <div>
                        <label for="updates_{{ item.key }}" class="visually-hidden" data-cart-item-label-quantity>
                          {{ 'products.product.quantity' | t }}
                        </label>
                        <input type="number" pattern="\d*" id="updates_{{ item.key }}" class="cart__quantity" name="updates[]" value="{{ item.quantity }}" min="0" data-id="{{ item.key }}" data-cart-item-input-quantity>
                      </div>

                      <button type="button" class="cart__remove text-link" data-cart-item-delete>{{ 'cart.general.remove' | t }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

          {% if settings.cart_notes_enable %}
            <div class="cart__note" data-cart-note-container>
              <label for="CartDrawerSpecialInstructions">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full" id="CartDrawerSpecialInstructions" data-cart-note>{{ cart.note }}</textarea>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="drawer__footer cart__footer">
        {% comment %}
        If the cart has no discount, then include a discount element with a template class
        so that it is hidden but still available for use client-side by theme.js
        {% endcomment %}
        {%- assign cartDiscounts = 'template ' | split: ' ' -%}
        {% if cart.cart_level_discount_applications.size > 0 %}
          {%- assign cartDiscounts = cart.cart_level_discount_applications -%}
        {% endif %}

        <div data-cart-discount-container class="cart__details{% if cartDiscounts contains 'template' %} hide{% endif %}">
          <div class="cart__detail-title">
            {{ 'cart.general.discounts' | t }}
          </div>
          <div class="cart__detail-info" data-cart-discount-content>
            {% for cart_discount in cartDiscounts %}
              <div data-cart-discount>
                <span data-cart-discount-title>
                  {{ cart_discount.title }}
                </span>
                <span class="cart__detail-discount-amount">
                  -<span data-cart-discount-amount>{{ cart_discount.total_allocated_amount | money }}</span>
                </span>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="cart__details">
          <div class="cart__detail-title">
            {{ 'cart.general.subtotal' | t }}
          </div>
          <div class="cart__detail-info">
            <span data-cart-subtotal>{{ cart.total_price | money }}</span>
          </div>
        </div>

        <p class="cart__note text-center">
          {{ 'cart.general.shipping_at_checkout' | t }}
        </p>

        {% if settings.cart_terms_conditions_enable %}
          <p class="cart__note cart__note--terms">
            <input type="checkbox" id="CartAgree" />
            <label for="CartAgree">
              {% if settings.cart_terms_conditions_link != blank %}
                {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_link }}
              {% else %}
                {{ 'cart.general.terms' | t }}
              {% endif %}
            </label>
          </p>
        {% endif %}

        {% if additional_checkout_buttons and settings.cart_additional_buttons %}
          <div class="additional-checkout-buttons additional-checkout-buttons--vertical">{{ content_for_additional_checkout_buttons }}</div>
        {% endif %}

        {% comment %}
          Uncomment to show continue shopping button
        {% endcomment %}
        {% comment %}
        <a href="{{ routes.all_products_collection_url }}" class="btn btn--secondary btn--full">
          {{ 'cart.general.continue_shopping' | t }}
        </a>
        {% endcomment %}

        <button type="submit" class="btn btn--full cart__checkout cart__checkout--drawer{% if settings.cart_terms_conditions_enable %} cart__checkout--ajax{% endif %}" name="checkout" data-cart-submit>
          <span>{{ 'cart.general.checkout' | t }}</span>
        </button>
      </div>

    </div>
  </form>
</div>
