{%- assign blockId = block.id -%}
{% if product %}
  {%- assign blockId = block.id | append: product.id -%}
{% endif %}

<div class="page-width">

  <div class="grid">
    <div class="grid__item{% if block.settings.narrow_column %} medium-up--three-quarters medium-up--push-one-eighth{% endif %}">
      {% if block.settings.title != blank %}
        <header class="section-header" data-aos>
          <h2 class="section-header__title appear-delay">
            {{ block.settings.title }}
          </h2>
        </header>
      {% endif %}

      <div class="form-vertical">
        {% form 'contact' %}

          {% if form.posted_successfully? %}
            <p class="note note--success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {% endif %}

          {{ form.errors | default_errors }}

          <div class="grid grid--small">
            <div class="grid__item medium-up--one-half">
              <label for="ContactFormName-{{ blockId }}">{{ 'contact.form.name' | t }}</label>
              <input type="text" id="ContactFormName-{{ blockId }}" class="input-full" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div>

            <div class="grid__item medium-up--one-half">
              <label for="ContactFormEmail-{{ blockId }}">{{ 'contact.form.email' | t }}</label>
              <input type="email" id="ContactFormEmail-{{ blockId }}" class="input-full" name="contact[email]" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
            </div>
          </div>

          {% if block.settings.show_phone %}
            <label for="ContactFormPhone-{{ blockId }}">{{ 'contact.form.phone' | t }}</label>
            <input type="tel" id="ContactFormPhone-{{ blockId }}" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
          {% endif %}

          <label for="ContactFormMessage-{{ blockId }}">{{ 'contact.form.message' | t }}</label>
          <textarea rows="5" id="ContactFormMessage-{{ blockId }}" class="input-full" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

          <button type="submit" class="btn">
            {{ 'contact.form.send' | t }}
          </button>

          {% comment %}
            Remove the following three lines of code to remove the note
            about being protected by Google's reCAPTCHA service.
            By removing it, the small reCAPTCHA widget will appear in the
            bottom right corner of the page.
          {% endcomment %}
          {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}

        {% endform %}
      </div>
    </div>
  </div>
</div>
