{%- if collection -%}
  <div class="product__return text-center">
    <a href="{{ collection.url }}" class="btn btn--tertiary">
      &xlarr; {{ 'products.general.collection_return' | t }}
    </a>
  </div>
{%- endif -%}
