{% comment %}
  It's best to load images as JPG instead of PNG for faster
  loading, so that is our default. If you upload
  PNG files and want to keep them that way, set the line
  below to false.
{% endcomment %}
{%- assign force_jpg = true -%}

{%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

{% comment %}
  Can set thumbnail position to 'below', but only suggested
  when using the 'Fade' image style (set in Product grid)
{% endcomment %}
{%- assign thumbnail_position = 'beside' -%}

{%- assign single_image = false -%}
{%- for image in product.images -%}
  {%- if image.alt == 'Product Page' -%}
    {%- assign single_image = image -%}
  {%- endif -%}
{%- endfor -%}

{% unless product.empty? %}
  <div
    data-product-images
    data-zoom="{{ product_zoom_enable }}"
    {% if product_zoom_enable %}
      {% if product_image_type == 'slider' %}
        data-has-slideshow="true"
      {% endif %}
    {% endif %}>
    <div class="product__photos product__photos--{{ thumbnail_position }}">

      <div class="product__main-photos{% if product_image_type == 'slider' %} product__main-photos--slider{% endif %}" data-aos data-product-single-media-group>
        <div class="product__main-photos-wrapper">
          <div id="ProductPhotos-{{ section_id }}" data-product-photos>
            {%- if single_image -%}
              <div
                class="product__single-image lazyload"
                data-bgset="{% render 'bgset', image: single_image %}"
                data-sizes="auto">
              </div>
            {%- else -%}
              {%- for media in product.media -%}
                {%- render 'media',
                  section_id: section_id,
                  media: media,
                  featured_media: featured_media,
                  loopIndex0: forloop.index0,
                  loopIndex: forloop.index,
                  product_zoom_enable: product_zoom_enable,
                  product_zoom_size: product_zoom_size,
                  product_image_size: product_image_size,
                  isModal: isModal,
                  video_looping: video_looping,
                  video_style: video_style
                -%}
              {%- endfor -%}
            {%- endif -%}
          </div>

          {% if product_zoom_enable %}
            <button type="button" class="btn btn--tertiary btn--circle product__photo-zoom{% if product_image_type == 'stacked' %} medium-up--hide{% endif %}">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64"><path d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/></svg>
              <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t }}</span>
            </button>
          {% endif %}
        </div>

        {% assign first_3d_model = product.media | where: 'media_type', 'model' | first %}

        {%- if first_3d_model -%}
          <button
            aria-label="{{ 'products.product.view_in_space_label' | t }}"
            class="product-single__view-in-space"
            data-shopify-xr
            data-shopify-model3d-id="{{ first_3d_model.id }}"
            data-shopify-title="{{ product.title }}"
            data-shopify-xr-hidden
          >
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-3d" viewBox="18.24 17.35 24.52 28.3"><path fill="#3A3A3A" d="M30.5 17.35l-12.26 7.07v14.16l12.26 7.07 12.26-7.08V24.42L30.5 17.35zM20.24 37.42V25.58l10.26-5.93 10.13 5.85-10.13 5.88v12l-10.26-5.96z"/></svg>
            <span class='product-single__view-in-space-text'>
              {{ 'products.product.view_in_space' | t }}
            </span>
          </button>
        {%- endif -%}

        <div class="product__photo-dots"></div>
      </div>

      <div
        id="ProductThumbs-{{ section_id }}"
        class="product__thumbs product__thumbs--{{ thumbnail_position }} small--hide{% if product.images.size == 1 or single_image %} medium-up--hide{% endif %}"
        data-position="{{ thumbnail_position }}"
        data-product-thumbs
        data-aos>
        {% if product_image_type == 'stacked' %}
          <div class="product__thumbs-sticky">
        {% endif %}
          {%- if product.media.size > 1 -%}
            {%- for media in product.media -%}
              <div class="product__thumb-item{% if product_image_type == 'stacked' and forloop.index == 1 %} thumb--current{% endif %}"
                data-product-thumb-item
                data-index="{{ forloop.index0 }}">
                <a
                  href="{{ media.preview_image | img_url: product_zoom_size }}"
                  class="image-wrap product__thumb js-no-transition"
                  data-id="{{ media.id }}"
                  data-index="{{ forloop.index0 }}"
                  data-product-thumb
                  style="height: 0; padding-bottom: {{ 100 | divided_by: media.preview_image.aspect_ratio }}%;">
                  {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                    <span class="product__thumb-icon">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" viewBox="18.24 17.35 24.52 28.3"><path fill="#323232" d="M22.1 19.151v25.5l20.4-13.489-20.4-12.011z"/></svg>
                    </span>
                  {%- endif -%}
                  {%- if media.media_type == 'model' -%}
                    <span class="product__thumb-icon">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-3d" viewBox="18.24 17.35 24.52 28.3"><path fill="#3A3A3A" d="M30.5 17.35l-12.26 7.07v14.16l12.26 7.07 12.26-7.08V24.42L30.5 17.35zM20.24 37.42V25.58l10.26-5.93 10.13 5.85-10.13 5.88v12l-10.26-5.96z"/></svg>
                    </span>
                  {%- endif -%}

                  {%- if force_jpg -%}
                    {%- assign img_url = media.preview_image | img_url: '1x1', format: 'jpg' | replace: '_1x1.', '_{width}x.' -%}
                  {%- else -%}
                    {%- assign img_url = media.preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  {%- endif -%}

                  <img class="lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[360, 540, 750, 900, 1080]"
                      data-aspectratio="{{ image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ media.alt | escape }}">
                  <noscript>
                    <img class="lazyloaded" src="{{ media.preview_image | img_url: '180x' }}" alt="{{ media.alt | escape }}">
                  </noscript>
                </a>
              </div>
            {% endfor %}
          {% endif %}
        {% if product_image_type == 'stacked' %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <script type="application/json" id="ModelJson-{{ section_id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% else %}
  <div class="product__photos">
    <div class="product__main-photos" style="width: 100%">
      <div id="ProductPhotos-{{ section_id }}">
        <div data-index="{{ forloop.index0 }}">
          <a href="#">
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endunless %}
