<div class="slide-nav__overflow{% if mobile_menu_style == 'thumb'%} slide-nav__overflow--thumb{% else %} slide-nav__overflow--slide{% endif %}">
  <nav class="slide-nav__wrapper">
    <ul id="SlideNav" class="slide-nav">
      {% comment %}
        Do not show hardcoded 'Home' link if it matches the first menu link
      {% endcomment %}
      {%- unless main_menu.links[0].url == routes.root_url -%}
        <li class="slide-nav__item border-bottom">
          <a href="{{ routes.root_url }}" class="slide-nav__link">
            {{ 'general.drawers.home' | t }}
          </a>
        </li>
      {%- endunless -%}

      {% for link in main_menu.links %}
        {% render 'slide-nav-item' with link: link %}
      {% endfor %}

      {%- unless linklists[section.settings.main_menu_link_list_mobile] == blank -%}
        {% for link in linklists[section.settings.main_menu_link_list_mobile].links %}
          {% render 'slide-nav-item' with link: link %}
        {% endfor %}
      {%- endunless -%}


      {% if shop.customer_accounts_enabled %}
        <li class="slide-nav__item medium-up--hide">
          <a
            href="{{ routes.account_url }}"
            class="slide-nav__link">
            {% if customer %}
              {{ 'layout.customer.account' | t }}
            {% else %}
              {{ 'layout.customer.log_in' | t }}
            {% endif %}
          </a>
        </li>
      {% endif %}
      {% if section.settings.header_search_enable %}
        <li class="slide-nav__item medium-up--hide">
          <a
            href="{{ routes.search_url }}"
            class="slide-nav__link js-modal-open-search-modal js-no-transition">
            {{ 'general.search.title' | t }}
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
