<div {{ block.shopify_attributes }}
  class="grid__item {{ grid_item_width }}">
  <div class="social-section__wrapper">
    {%- if link != blank -%}
      <a href="{{ link }}" target="_blank" rel="noopener">
    {%- endif -%}

      {%- if image != blank -%}
        <div
          class="social-section__image lazyload"
          data-bgset="{% render 'bgset', image: image %}"
          data-sizes="auto">
        </div>
      {%- else -%}
        <div class="image-wrap">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {%- endif -%}

    {%- if link != blank -%}
      </a>
    {%- endif -%}

    {%- if caption != blank or account != blank or likes != blank -%}
      <div class="social-section__meta">
        {%- if likes != blank -%}
          <div class="social-section__likes">
            {{ likes }} likes
          </div>
        {%- endif -%}
        {%- if account != blank or caption != blank -%}
          <div class="social-section__caption">
            {%- if account != blank -%}
              <strong>{{ account }}</strong>
            {%- endif -%}
            {%- if caption != blank %}
              {{ caption }}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>

  {% unless prod.empty? %}
    <div class="social__product-title rte">
      {{ 'general.social.pictured' | t }} &mdash; <a href="{{ prod.url }}">{{ prod.title }}</a>
    </div>
  {%- endunless -%}
</div>
