<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- render 'seo-title' -%}

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- render 'social-meta-tags' -%}

  {{ content_for_header }}

  {%- render 'critical-css' -%}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {%- render 'css-variables' -%}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.settings = {
      themeName: 'Streamline',
      themeVersion: "3.1.2"
    };
  </script>

  <script src="{{ 'vendor-v2.js' | asset_url | split: '?' | first }}" defer="defer"></script>
  <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>
</head>

<body class="template-password" data-transitions="{{settings.animate_page_transitions}}" data-animate_underlines="true" data-animate_images="{{ settings.animate_images }}" data-button_style="{{settings.button_style}}" data-type_product_capitalize="{{settings.type_product_capitalize}}" data-type_header_capitalize="{{settings.type_header_capitalize}}" data-product_image_scatter="{{settings.product_image_scatter}}" data-button_type_style="{{settings.button_type_style}}">

  <div class="password-page__wrapper">
    {{ content_for_layout }}
  </div>

  <div id="LoginModal" class="modal modal--solid">
    <div class="modal__inner">
      <div class="modal__centered text-center">
        <div class="password-form">
          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
            <div class="input-group">
              <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
              <span class="input-group-btn">
                <input type="submit" class="btn password-form__submit" value="{{ 'general.password_page.login_form_submit' | t }}">
              </span>
            </div>
          {% endform %}
        </div>
      </div>
    </div>

    <button type="button" class="btn btn--tertiary btn--circle modal__close js-modal-close text-link">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
      <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t }}</span>
    </button>

    <div class="modal__footer-text password-admin-link">
      <small>
        {{ 'general.password_page.admin_link_html' | t }}
      </small>
    </div>
  </div>

</body>
</html>
