{%- assign blog = blogs[section.settings.blog] -%}

<div class="index-section{% if section.settings.alt %} index-section--alt{% endif %}">

  <div class="page-width">

    {% if section.settings.title != blank %}
      <header class="section-header" data-aos>
        <h2 class="section-header__title appear-delay">
          {{ section.settings.title | escape }}
        </h2>
        {% if section.settings.view_all %}
        <div class="section-header__description small--hide rte appear-delay-1">
          <a href="{{ blog.url }}">{{ 'blogs.article.view_all' | t }}</a>
        </div>
        {% endif %}
      </header>
    {% endif %}

    {% unless blog.empty? or blog.articles.size == 0 %}

      <div class="grid grid--uniform grid--articles">
        {% for article in blog.articles limit: section.settings.post_limit %}
          <div class="grid__item medium-up--one-third">
            {%- render 'article-grid-item',
              article: article,
              image_size: section.settings.blog_image_size,
              show_excerpt: section.settings.blog_show_excerpt,
              show_author: section.settings.blog_show_author,
              show_date: section.settings.blog_show_date,
              show_comments: section.settings.blog_show_comments,
              show_tags: section.settings.blog_show_tags -%}
          </div>
        {% endfor %}
      </div>

    {% else %}

      <div class="grid grid--uniform">
        {% for i in (1..3) %}
          <div class="grid__item medium-up--one-third" data-aos>
            <article class="article-listing">

              <a href="#" class="article__grid-image"><div class="image-wrap">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div></a>

              <div class="article__content">
                <div class="article__content-meta">
                  <div class="h3">
                    <a href="{{ article.url }}">Example article title</a>
                  </div>

                  <div class="article__date">
                    {%- assign first_item = true -%}
                    {% if section.settings.blog_show_tags %}
                      {%- assign first_item = false -%}
                      <a href="#">Tag 1</a> &middot;
                      <a href="#">Tag 2</a>
                    {% endif %}
                    {% if section.settings.blog_show_comments %}
                      {% unless first_item %} &middot; {% endunless %}{%- assign first_item = false -%}
                      <a href="#">
                        {{ 'blogs.comments.with_count' | t: count: 2 }}
                      </a>
                    {% endif %}
                    {% if section.settings.blog_show_date %}
                      {% unless first_item %} &middot; {% endunless %}{%- assign first_item = false -%}
                      August 19, 2019
                    {% endif %}
                  </div>

                  {% if section.settings.blog_show_author %}
                    <div class="article__author">by John Doe</div>
                  {% endif %}
                </div>

                <button type="button" class="btn btn--tertiary btn--small">
                  {{ 'blogs.article.read_more' | t }}
                </button>
              </div>
            </article>
          </div>
        {% endfor %}
      </div>

    {% endunless %}

  </div>

</div>

{% schema %}
  {
    "name": "Blog posts",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "default": 3,
        "min": 3,
        "max": 12,
        "step": 3
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags",
        "label": "Show tags"
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comments",
        "label": "Show comment count"
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author"
      },
      {
        "type": "checkbox",
        "id": "blog_show_excerpt",
        "label": "Show excerpt"
      },
      {
        "type": "select",
        "id": "blog_image_size",
        "label": "Image size",
        "default": "wide",
        "options": [
          {
            "value": "natural",
            "label": "Natural"
          },
          {
            "value": "square",
            "label": "Square (1:1)"
          },
          {
            "value": "landscape",
            "label": "Landscape (4:3)"
          },
          {
            "value": "portrait",
            "label": "Portrait (2:3)"
          },
          {
            "value": "wide",
            "label": "Wide (16:9)"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "view_all",
        "label": "Show 'View all' button",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "alt",
        "label": "Use alternate section color"
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog",
        "settings": {
          "blog": "News",
          "post_limit": 3
        }
      }
    ]
  }
{% endschema %}
