{%- assign show_selectors = false -%}
{%- assign currency_selector = false -%}
{%- assign locale_selector = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.enabled_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

{%- if currency_selector or locale_selector -%}
  {%- assign show_selectors = true -%}
{%- endif -%}

{%- if settings.color_newsletter == settings.color_body_bg -%}
  {% style %}
    .site-footer__section--newsletter {
      padding: 0;
    }
  {% endstyle %}
{%- endif -%}



{%- case section.blocks.size -%}
  {%- when 0 -%}
  {%- when 1 -%}
    {%- assign footer_column_width = 'small--one-half medium-up--one-half medium-up--push-one-quarter' -%}
  {%- when 2 -%}
    {%- assign footer_column_width = 'small--one-half medium-up--one-half' -%}
  {%- when 3 -%}
    {%- assign footer_column_width = 'small--one-half medium-up--one-third' -%}
  {%- when 4 -%}
    {%- assign footer_column_width = 'small--one-half medium-up--one-quarter' -%}
{%- endcase -%}


{%- capture footer_linklists -%}
  <div class="footer__linklists">
    {%- if section.blocks.size > 0 -%}
      <div class="grid">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'linklist' -%}
              {%- assign title = block.settings.title -%}
              {%- assign linklist = linklists[block.settings.linklist] -%}
              {%- if title == blank -%}
                {%- assign title = linklist.title -%}
              {%- endif -%}
              <div class="grid__item {{ footer_column_width }} footer__block" {{ block.shopify_attributes }}>
                <h4 class="footer__title">{{ title | escape }}</h4>

                <ul class="footer__nav__list">
                  {%- for link in linklist.links -%}
                    <li class="footer__nav__item">
                      <a class="footer__nav__link" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>

            {% else %}
          {% endcase %}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
{%- endcapture -%}


<footer
 class="site-footer"
 data-section-id="{{ section.id }}"
 data-section-type="footer-section">
  <div class="footer__primary">
    <div class="page-width">
      {%- if section.settings.show_newsletter -%}
        <div class="grid grid--uniform grid--rev">
          <div class="grid__item grid-column medium-up--two-thirds">
            {{ footer_linklists }}
          </div>

          <div class="grid__item grid-column medium-up--one-third">
            <div class="_site-footer__section _site-footer__section--newsletter" data-aos>
              {% if section.settings.newsletter_title != blank %}
                <div class="footer__newsletter__heading h2 appear-delay">{{ section.settings.newsletter_title }}</div>
              {% endif %}

              {% if section.settings.newsletter_richtext != blank %}
                <div class="rte rte--block appear-delay-1">
                  {{ section.settings.newsletter_richtext }}
                </div>
              {% endif %}

              <div class="appear-delay-2">
                {% render 'newsletter-form', section_id: section.id, snippet_context: 'footer' %}
              </div>
            </div>
          </div>
        </div>
      {%- else -%}
        {{ footer_linklists }}
      {%- endif -%}
    </div>
  </div>

  <div class="footer__secondary text-center">
    <div class="page-width">
    {%- if show_selectors -%}
      {%- form 'localization', class: 'multi-selectors site-footer__section' -%}
        {%- if locale_selector -%}
          <div class="multi-selectors__item">
            <h2 class="visually-hidden" id="LangHeading">
              {{ 'general.language.dropdown_label' | t }}
            </h2>

            <div class="disclosure" data-disclosure-locale>
              <button type="button" class="faux-select disclosure__toggle" aria-expanded="false" aria-controls="LangList" aria-describedby="LangHeading" data-disclosure-toggle>
                <span class="multi-picker__label">
                  {{ form.current_locale.endonym_name }}
                </span>
              </button>
              <ul id="LangList" class="disclosure-list" data-disclosure-list>
                {% for locale in form.available_locales %}
                  <li class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}">
                    <a class="disclosure-list__option" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                      {{ locale.endonym_name }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
              <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
            </div>
          </div>
        {%- endif -%}

        {%- if currency_selector -%}
          <div class="multi-selectors__item">
            <h2 class="visually-hidden" id="CurrencyHeading">
              {{ 'general.currency.dropdown_label' | t }}
            </h2>

            <div class="disclosure" data-disclosure-currency>
              <button type="button" class="faux-select disclosure__toggle" aria-expanded="false" aria-controls="CurrencyList" aria-describedby="CurrencyHeading" data-disclosure-toggle>
                {% if section.settings.show_currency_flags %}
                  <span class="currency-flag currency-flag--small" data-flag="{{ form.current_currency.iso_code }}" aria-hidden="true"></span>
                {% endif %}
                <span class="multi-picker__label">
                  {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                </span>
              </button>
              <ul id="CurrencyList" class="disclosure-list" data-disclosure-list>
                {% for currency in form.available_currencies %}
                  <li class="disclosure-list__item {% if currency.iso_code == form.current_currency.iso_code %}disclosure-list__item--current{% endif %}">
                    <a class="disclosure-list__option" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
                      {% if section.settings.show_currency_flags %}
                        <span class="currency-flag" data-flag="{{ currency.iso_code }}" aria-hidden="true"></span>
                      {% endif %}
                      <span class="multi-picker__label">
                        {{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}
                      </span>
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
              <input type="hidden" name="currency_code" value="{{ form.current_currency.iso_code }}" data-disclosure-input>
            </div>
          </div>
        {%- endif -%}
      {%- endform -%}
    {%- endif -%}

    {% if section.settings.show_social_icons %}
      <div class="site-footer__section">
        {% render 'social-icons', social_class: 'footer__social' %}
      </div>
    {% endif %}

    {% if linklists[section.settings.menu].links.size > 0 %}
      <div class="site-footer__section">
        <ul class="no-bullets inline-list site-footer__linklist">
          {% for link in linklists[section.settings.menu].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if section.settings.show_payment_icons %}
      {% unless shop.enabled_payment_types == empty %}
        <div class="site-footer__section">
          <ul class="inline-list payment-icons">
            {% for type in shop.enabled_payment_types %}
              <li class="icon--payment">
                {{ type | payment_type_svg_tag }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endunless %}
    {% endif %}

    <div class="site-footer__section site-footer__copyright">
      {% if section.settings.show_copyright %}
        <span>
          &copy; {{ 'now' | date: '%Y' }} {{ shop.name }}
          {% if section.settings.copyright_text != blank %}
            {{ section.settings.copyright_text }}
          {% endif %}
        </span>
      {% endif %}
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter",
        "label": "Show newsletter signup",
        "info": "Customers who subscribe will have their email address added to the 'accepts marketing' [customer list](/admin/customers?query=&accepts_marketing=1).",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_title",
        "label": "Newsletter heading",
        "default": "Sign up and save"
      },
      {
        "type": "richtext",
        "id": "newsletter_richtext",
        "label": "Text",
        "default": "<p>Let customers know about the key benefits of joining your newsletter.</p>"
      },
      {
        "type": "header",
        "content": "Language selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency selector",
        "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_currency_flags",
        "label": "Show currency flags",
        "default": true
      },
      {
        "type": "header",
        "content": "Additional footer content"
      },
      {
        "type": "checkbox",
        "id": "show_social_icons",
        "label": "Show social icons",
        "default": true
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Choose a menu",
        "default": "footer",
        "info": "Optional. This menu won't show dropdown items"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons"
      },
      {
        "type": "checkbox",
        "id": "show_copyright",
        "label": "Show copyright"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Additional copyright text"
      }
    ],
    "blocks" : [
      {
        "type": "linklist",
        "name": "Link list",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "link_list",
            "id": "linklist",
            "label": "Link list",
            "default": "main-menu"
          }
        ]
      }
    ]
  }
{% endschema %}
