{%- assign natural_height_ratio = '60%' -%}
{% if section.settings.image != blank %}
  {%- capture natural_height_ratio -%}{{ 100 | divided_by: section.settings.image.aspect_ratio }}%{% endcapture %}
{% endif %}

{% style %}
  @media screen and (max-width: 768px) {
    .background-media-text--{{ section.id }} {
      background: {{ section.settings.color_border }};
    }
  }
  @media only screen and (min-width: 769px) {
    .background-media-text--{{ section.id }} {
      height: 0;
      padding-bottom: {{ natural_height_ratio | plus: section.settings.desktop_size }}%;
    }
  }
  .background-media-text--{{ section.id }} .background-media-text__image {
    background-position: {{ section.settings.image_alignment }};
  }
{% endstyle %}

<div
  class="background-media-text background-media-text--{{ section.id }} loaded"
  data-aos="background-media-text__animation">

  <div
    class="background-media-text__image{% if section.settings.image != blank %} lazyload{% endif %}"
    {% if section.settings.image != blank %}
      data-bgset="{% render 'bgset', image: section.settings.image %}"
      data-sizes="auto"
    {% endif %}>
    {% if section.settings.image == blank %}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>

  {%- if section.settings.image != blank -%}
    <noscript>
      <div
        class="background-media-text__image"
        style="background-image: url({{ section.settings.image | img_url: '1400x' }});">
      </div>
    </noscript>
  {%- endif -%}

  <div class="background-media-text__inner">
    {% case section.settings.marquee_speed %}
      {% when 'fast' %}
        {%- assign mobile_speed = 4.6 -%}
        {%- assign desktop_speed = 6 -%}
      {% when 'normal' %}
        {%- assign mobile_speed = 6.6 -%}
        {%- assign desktop_speed = 10 -%}
      {% when 'slow' %}
        {%- assign mobile_speed = 10 -%}
        {%- assign desktop_speed = 15 -%}
    {% endcase %}

    {% style %}
      {% if section.settings.color_scheme == 'button' %}
        .marquee--{{ section.id }} {
          background: {{ settings.marquee_color_button }};
          color: {{ settings.marquee_color_button_text }};
        }
      {% endif %}
      .marquee--{{ section.id }} .marquee__text {
        font-size: {{ section.settings.marquee_text_size }}px;
        animation-duration: {{ desktop_speed }}s;
      }
      @media screen and (max-width: 768px) {
        .marquee--{{ section.id }} .marquee__text {
          font-size: {{ section.settings.marquee_text_size | times: 0.6 }}px;
          animation-duration: {{ mobile_speed }}s;
        }
      }
      {% unless section.settings.text_spacing %}
        .marquee--{{ section.id }} .marquee__text span {
          padding: 0;
        }
      {% endunless %}
    }
    {% endstyle %}

    <div class="marquee marquee--{{ section.id }}">
      <div class="marquee__container">
        <div class="marquee__text marquee__text--{{ section.settings.marquee_direction }}">
          <span>{{ section.settings.text }}</span>
          <span aria-hidden="true">{{ section.settings.text }}</span>
          <span aria-hidden="true">{{ section.settings.text }}</span>
          <span aria-hidden="true">{{ section.settings.text }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Scrolling text on banner",
    "class": "section-scrolling-text-on-banner index-section--flush",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "image_alignment",
        "label": "Image focal point",
        "info": "Used to keep the subject of your photo in view.",
        "default": "center center",
        "options": [
          {
            "value": "20% 10%",
            "label": "Top left"
          },
          {
            "value": "50% 10%",
            "label": "Top center"
          },
          {
            "value": "80% 10%",
            "label": "Top right"
          },
          {
            "value": "20% 50%",
            "label": "Left"
          },
          {
            "value": "center center",
            "label": "Center"
          },
          {
            "value": "80% 50%",
            "label": "Right"
          },
          {
            "value": "20% 90%",
            "label": "Bottom left"
          },
          {
            "value": "50% 90%",
            "label": "Bottom center"
          },
          {
            "value": "80% 90%",
            "label": "Bottom right"
          }
        ]
      },


      {
        "type": "header",
        "content": "Scrolling text"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "Pair large text with a full-width image to draw attention to an important detail of your brand or product line."
      },
      {
        "type": "range",
        "id": "marquee_text_size",
        "label": "Text size",
        "default": 70,
        "min": 20,
        "max": 150,
        "step": 2,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "marquee_text_spacing",
        "label": "Add spacing",
        "default": true
      },
      {
        "type": "select",
        "id": "marquee_color_scheme",
        "label": "Color scheme",
        "default": "button",
        "options": [
          {
            "label": "Button",
            "value": "button"
          },
          {
            "label": "Text",
            "value": "text"
          }
        ]
      },
      {
        "type": "select",
        "id": "marquee_direction",
        "label": "Direction",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "select",
        "id": "marquee_speed",
        "label": "Speed",
        "default": "normal",
        "options": [
          {
            "label": "Fast",
            "value": "fast"
          },
          {
            "label": "Normal",
            "value": "normal"
          },
          {
            "label": "Slow",
            "value": "slow"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Scrolling text on banner",
      "category": "Image"
    }]
  }
{% endschema %}
