{% if section.settings.mode != 'disabled' %}

<div
  id="NewsletterPopup-{{ section.id }}"
  class="modal modal--square modal--newsletter modal--mobile-friendly"
  data-section-id="{{ section.id }}"
  data-section-type="newsletter-popup"
  data-delay-days="{{ section.settings.popup_days }}"
  data-delay-seconds="{{ section.settings.popup_seconds }}"
  data-test-mode="{% if section.settings.mode == 'testing' %}true{% else %}false{% endif %}">
  <div class="modal__inner">
    <div class="modal__centered medium-up--text-center">
      <div class="modal__centered-content">

        <div class="grid">
          <div class="grid__item{% if section.settings.enable_newsletter %} medium-up--one-half medium-up--text-left{% endif %}">
            {% if section.settings.popup_title != blank %}
              <div class="h2 modal__title">{{ section.settings.popup_title }}</div>
            {% endif %}

            {% if section.settings.popup_text != blank %}
              <div class="rte">
                {{ section.settings.popup_text }}
              </div>
            {% endif %}

            {% unless section.settings.enable_newsletter %}
              {% if section.settings.button_label != blank and section.settings.button_link != blank %}
                <div class="popup-cta text-center">
                  <a href="{{ section.settings.button_link }}" class="btn btn--tertiary">
                    {{ section.settings.button_label }}
                  </a>
                </div>
              {% endif %}
            {% endunless %}
          </div>

          {% if section.settings.enable_newsletter %}
            <div class="grid__item small--text-left medium-up--one-half">
              {% if section.settings.enable_newsletter %}
                <div class="popup-cta">
                  {% render 'newsletter-form', section_id: section.id, snippet_context: 'popup' %}
                </div>
              {% endif %}

              {% if section.settings.button_label != blank and section.settings.button_link != blank %}
                <div class="popup-cta text-center">
                  <a href="{{ section.settings.button_link }}" class="btn btn--tertiary">
                    {{ section.settings.button_label }}
                  </a>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>

      <button type="button" class="btn btn--tertiary btn--circle modal__close js-modal-close text-link">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t }}</span>
      </button>
    </div>
  </div>
</div>

{% endif %}

{% schema %}
  {
    "name": "Popup",
    "settings": [
      {
        "type": "select",
        "id": "mode",
        "label": "Display mode",
        "default": "disabled",
        "options": [
          {
            "value": "enabled",
            "label": "Enabled"
          },
          {
            "value": "testing",
            "label": "Test mode"
          },
          {
            "value": "disabled",
            "label": "Disabled"
          }
        ],
        "info": "Test mode displays your popup each time even after dismissing it. Switch to Enabled once you are happy with how your popup looks."
      },
      {
        "type": "range",
        "id": "popup_seconds",
        "label": "Delay",
        "info": "Delay is disabled in theme editor for visibility",
        "default": 5,
        "min": 2,
        "max": 60,
        "step": 1,
        "unit": "sec"
      },
      {
        "type": "range",
        "id": "popup_days",
        "label": "Frequency",
        "default": 30,
        "info": "Number of days before a dismissed popup reappears",
        "min": 2,
        "max": 30,
        "step": 1,
        "unit": "day"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "popup_title",
        "label": "Heading",
        "default": "Sign up and save"
      },
      {
        "type": "richtext",
        "id": "popup_text",
        "label": "Text",
        "default": "<p>Entice customers to sign up for your mailing list with discounts or exclusive offers.</p>"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "paragraph",
        "content": "Customers who subscribe will have their email address added to the 'accepts marketing' [customer list](/admin/customers?query=&accepts_marketing=1)."
      },
      {
        "type": "checkbox",
        "id": "enable_newsletter",
        "label": "Enable newsletter",
        "default": true
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "blocks" : []
  }
{% endschema %}
