<div class="index-section index-section--alt newsletter-section newsletter-{{ section.id }}" data-aos>
  <div class="page-width text-center">
    {% if section.settings.title != blank %}
      <div class="h2 appear-delay">{{ section.settings.title }}</div>
    {% endif %}

    {% if section.settings.text != blank %}
      <div class="rte rte--block appear-delay-1">
        {{ section.settings.text }}
      </div>
    {% endif %}

    <div class="appear-delay-2">
      {% render 'newsletter-form', section_id: section.id, snippet_context: 'section' %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "paragraph",
        "content": "Customers who subscribe will have their email address added to the 'accepts marketing' [customer list](/admin/customers?query=&accepts_marketing=1)."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Sign up and save"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Let customers know about the key benefits of joining your newsletter.</p>"
      }
    ],
    "presets": [
      {
        "name": "Newsletter",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}
