<div class="index-section{% if section.settings.alt %} index-section--alt{% endif %}">

  <div class="page-width" data-aos>
    {% if section.settings.title != blank %}
      <header class="section-header" data-aos>
        <h2 class="section-header__title appear-delay">
          {{ section.settings.title }}
        </h2>
      </header>
    {% endif %}

    <div class="grid {% unless section.blocks.size == 5 %}grid--uniform{% endunless %} text-{{ section.settings.align_text }}">
      {%- assign grid_item_width = 'medium-up--one-third' -%}
      {% case section.blocks.size %}
        {% when 1 %}
          {%- assign grid_item_width = 'medium-up--one-half' -%}
        {% when 2 %}
          {%- assign grid_item_width = 'medium-up--one-half' -%}
        {% when 4 %}
          {%- assign grid_item_width = 'medium-up--one-half' -%}
      {% endcase %}
      {% for block in section.blocks %}
        {% if section.blocks.size == 5 and forloop.index < 3 %}
          {%- assign column_width = 'medium-up--one-half' -%}
        {% else %}
          {%- assign column_width = grid_item_width -%}
        {% endif %}
        <div
          {{ block.shopify_attributes }}
          data-aos
          class="grid__item grid-column {{ column_width }} appear-delay-{{ forloop.index }}">
          {% if block.settings.enable_image %}
            {% if block.settings.link != blank %}
              <a href="{{ block.settings.link }}">
            {% endif %}

            {% if block.settings.image != blank %}
              <div style="max-width: {{ block.settings.image_width }}px;{% if section.settings.align_text == 'center' %} margin: 0 auto;{% endif %}">
                <div class="text-spacing" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
                  {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 750, 900, 1080]"
                      data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ block.settings.image.alt }}">
                </div>
              </div>
            {% else %}
              <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
            {% endif %}
            {% if block.settings.link != blank %}
              </a>
            {% endif %}
          {% endif %}

          {% if block.settings.title != blank %}
            {% unless block.settings.link == blank %}
              <div class="h2 text-column-link__title"><a href="{{ block.settings.link }}">{{ block.settings.title }}</a></div>
            {% else %}
              <div class="h2 text-column-link__title">{{ block.settings.title }}</div>
            {% endunless %}
          {% endif %}

        </div>
      {% endfor %}
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Columns with image links",
    "class": "section-text-column-links",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "alt",
        "label": "Use alternate section color"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "label": "Image width",
            "default": 650,
            "min": 60,
            "max": 650,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Columns with image links",
        "category": "Text",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
