@font-face {
  font-family: 'Conv_Spartan';
  src: url({{ 'font-Spartan-Regular.eot' | asset_url }});
  src: local('Conv_Spartan'),
    url({{ 'font-Spartan-Regular.woff' | asset_url }}) format('woff'),
    url({{ 'font-Spartan-Regular.ttf' | asset_url }}) format('truetype'),
    url({{ 'font-Spartan-Regular.svg' | asset_url }}) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Spartan';
  src: url({{ 'font-Spartan-Medium.eot' | asset_url }});
  src: local('Conv_Spartan'),
    url({{ 'font-Spartan-Medium.woff' | asset_url }}) format('woff'),
    url({{ 'font-Spartan-Medium.ttf' | asset_url }}) format('truetype'),
    url({{ 'font-Spartan-Medium.svg' | asset_url }}) format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Spartan';
  src: url({{ 'font-Spartan-Bold.eot' | asset_url }});
  src: local('Conv_Spartan'),
    url({{ 'font-Spartan-Bold.woff' | asset_url }}) format('woff'),
    url({{ 'font-Spartan-Bold.ttf' | asset_url }}) format('truetype'),
    url({{ 'font-Spartan-Bold.svg' | asset_url }}) format('svg');
  font-weight: 700;
  font-style: normal;
}

body {
  @media only screen and (min-width: 769px) {
    padding-bottom: 0 !important;
  }
}

.btn {
  min-width: 180px;
  max-width: 100%;
  padding: 17px 25px;
  font-size: 15px;
}

.btn--tertiary {
  width: 150px;
  max-width: 100%;
  box-shadow: none !important;
}

.grid-product__title {
  font-family: 'Conv_Spartan';
  font-weight: 500;
}

.grid-product__meta {
  .spr-badge {
    display: none;
  }
}

.announcement-bar--desktop {
  display: none;
}

@media only screen and (min-width: 769px) {
  .announcement-bar--desktop {
    display: block;
  }
  .announcement-bar--mobile {
    display: none;
  }
  .announcement--fixed-bottom {
    position: fixed !important;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .header-wrapper {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: auto !important;
    left: 0 !important;
    z-index: 11;
  }
}

/* Header */
.header-wrapper--overlay {
  background: transparent !important;
}

.site-header {
  padding: 0 !important;
  background-color: transparent !important;

  .page-width {
    width: auto;
    max-width: 100%;
    background-color: #fef6e3;
    transition: 400ms all cubic-bezier(.12,.67,.53,1);



    @media only screen and (min-width: 769px) {
      width: 1250px;
      width: auto;
      width: calc( 100% - 60px );
      margin: 30px 30px 0 30px;
      padding: 20px 45px;
      box-shadow: 0 5px 5px rgba(100,100,100,.15);
    }

    @media only screen and (min-width: 1310px) {
      width: calc( 100% - 120px );
      margin: 30px 60px 0 60px;
      /*width: 1250px;*/
      /*margin: 30px auto 0;*/
    }

    body.scrolled & {
      margin: 0;
      width: 100%;
      /*max-width: 100%;*/
      /*box-shadow: none;*/
    }
  }

  .header-item {
    margin-right: 15px;
  }

  .site-nav__link {
    padding: 12px 15px;
    font-size: 15px;
    font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
    font-weight: var(--typeHeaderWeight);
    font-style: normal;
    letter-spacing: var(--typeHeaderSpacing);
    line-height: var(--typeHeaderLineHeight);
    text-align: center;
    color: #000 !important;
  }

  .site-navigation .site-nav__link {
    width: 180px;
    border: 2px solid;
  }

  .site-nav__link--cart {
    .icon-cart {
      display: none;
    }
    .cart-has-items &.site-nav__link--cart {
      background-color: transparent;
    }
    .cart-link__bubble {
      display: inline-block;
      position: relative;
      background-color: transparent;

      > .cart-link__count {
        font-size: 1em;
        color: inherit;
        letter-spacing: normal;
        background-color: transparent;
        &:before {
          content: "(";
        }
        &:after {
          content: ")";
        }
      }
    }
  }
}

/* Mobile header */
.site-nav__thumb-menu {
  box-shadow: 0 5px 5px rgba(100,100,100,0.15);
  .icon-menu-label {
    display: inline-block;
    transform: translateY(2px);
    font-family: var(--typeHeaderPrimary),var(--typeHeaderFallback);
    font-weight: var(--typeHeaderWeight);
    font-style: normal;
    text-transform: none;
    letter-spacing: normal;
  }

  .site-nav__thumb-cart {
    width: 100px;
    padding: 0 15px;

    .cart-link__text {
      font-family: var(--typeHeaderPrimary),var(--typeHeaderFallback);
      font-weight: var(--typeHeaderWeight);
      font-style: normal;
    }

    .cart-link {
      display: block;
      width: 100%;
      padding-right: 5px;
      text-align: center;
    }

    svg {
      display: none;
    }
  }
}




body:not(.template-index):not(.template-page-sections) {
  /*.main-content,*/
  .page-container {
    @media only screen and (min-width: 769px) {
      padding-top: 130px;
    }
  }
}

.section-rich-text,
[data-section-type="featured-content-section"] {
  font-family: 'Conv_Spartan';
  font-weight: 500;

  .rte .enlarge-text p {
    @media only screen and (min-width: 769px) {
      font-size: 28px;
    }
  }
}

.feature-row {
  .btn {
    width: 180px;
    max-height: 100%;
    padding: 16px 25px;
  }
}

.section-text-column-links {
/*  .index-section--alt {
    background-color: #fff;
  }*/

  .text-column-link__title {
   font-family: 'Conv_Spartan';
   font-weight: 500;
  }

  @media only screen and (min-width: 769px) {
    .page-width {
      max-width: 1000px;
    }
    .text-column-link__title {
      font-size: 35px;
    }
  }
}

.index-section--alt {
  margin: 0 !important;
}

.marquee__text {
  font-family: 'Conv_Spartan';
  font-weight: bold;
}

.section-scrolling-text-on-banner {
  .background-media-text__inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @media only screen and (max-width: 768px) {
    .background-media-text__image {
      height: 400px;
    }
  }
}

.section-text-columns  {
  .h2 {
    font-family: 'Conv_Spartan';
    font-weight: bold;
  }
}

.site-footer {
  margin-top: 0 !important;
  padding: 60px 0 30px;
  background-color: {{ settings.color_footer_bg }};
  color: {{ settings.color_footer_text }};

  @media only screen and (min-width: 769px) {
    padding: 120px 0 60px;
  }
  .footer__primary {
    padding-bottom: 30px;
    @media only screen and (min-width: 769px) {
      padding-bottom: 60px;
    }
  }

  .footer__title,
  .footer__newsletter__heading {
    font-family: 'Conv_Spartan';
    font-weight: 500;
  }

  .footer__linklists {
    width: 580px;
    max-width: 100%;

    .footer__title {
      font-size: 19px;
    }
    .footer__nav__list {
      display: block;
      margin: 0 0 30px;
      @media only screen and (min-width: 769px) {
        margin: 0;
      }
      li {
        font-size: 16px;
      }
    }
    .footer__nav__item {
      display: block;
      font-size: .9em;
      line-height: normal;
    }
  }

  .footer__newsletter__heading {
    line-height: normal;
    @media only screen and (min-width: 769px) {
      margin-top: -5px;
      font-size: 1.8em;
    }
  }

  @media only screen and (max-width: 768px) {
    .newsletter-form-group {
      max-width: 85%;
      margin-left: 0;
    }
  }
}

/* Home Page */
.template-index {
  .site-header {
    > .page-width {
      @media only screen and (max-width: 768px) {
        margin-top: 30px;
      }
    }
  }

  .slideshow__slide {
    .hero__title {
      width: 450px;
      max-width: 100%;
      line-height: 1.1;
      font-weight: bold;
    }
  }
}

.template-page-sections {
  .section-text-columns {
    .h2 {
      font-weight: 500;
    }
  }
}

/* Product Page */
.template-product {
  &,
  .product-section {
    background: #dbe5e1;
    background: #d4dee7;
    background: #e5f0f8;
  }

  .shopify-section {
    background: #fffdf8;
  }

  .product__single-image {
    height: 60vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    @media only screen and (min-width: 769px) {
      height: 80vh;
    }
    @media only screen and (max-width: 768px) {
      height: auto;
      margin-top: 30px;
      padding-bottom: 75%;
    }
  }

  [data-button_type_style=normal] .payment-buttons .shopify-payment-button__button--unbranded {
    width: calc(100% - 5px);
    border: 2px solid #000;
  }

  .index-section {
    margin: 0;
    padding: 60px 0;
  }

  .product-reviews {
    margin: 0 !important;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fef6e3;

    span.spr-review-header-byline {
      font-size: 0 !important;
      > strong:first-of-type {
        font-size: 11px !important;
      }
    }

    .spr-summary-actions-newreview {
      background: transparent;
      border-color: #000 !important;
      border-color: var(--colorBtnPrimaryText) !important;
    }

    &.product-reviews--full .spr-review {
      border: 2px solid;
    }
  }

  .site-footer {
    margin-top: 0;
  }
}

/* Collection Page */
.collection__grid__banner {
  padding-bottom: 30%;
  background-size: cover;
  background-position: center;
}

.collection-filters {
  @media only screen and (min-width: 769px) {
    margin-top: -50px;
  }

  .collection-filter__group {
    max-width: 100%;
  }

  .tag-list {
    > li {
      display: inline-block;
      margin: 0 10px;
    }

    > li > a {
      width: 150px;
      max-width: 100%;
      text-align: center;
      padding: 10px 25px;
      background-color: #fffdf8;
      background-color: var(--colorBody);
      border: 2px solid;
      border-color: #333029;
      border-color: var(--colorTextBody);
      color: #333029;
      color: var(--colorTextBody);
      font-weight: 400;

      &:before {
        display: none;
      }
    }

    > .tag--active > a {
      background-color: #97bbb3;
      background-color: var(--colorBtnPrimary);
      border-color: #97bbb3;
      border-color: var(--colorBtnPrimary);
    }
  }

  @media only screen and (max-width: 768px) {
    .tag-list {
      margin-right: -30px;
      padding-bottom: 15px;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  }
  @media only screen and (min-width: 769px) {
  }
}


.product__return {
  padding-bottom: 30px;
  background-color: #fffdf8;
  .btn {
    background-color: #fef6e3;
  }
}


