{% paginate search.results by 12 %}

<div class="page-width page-content">

  <div class="grid">
    <div class="grid__item">
      <header class="section-header">
        <h1 class="section-header__title">
          {{ 'general.search.title' | t }}
        </h1>
        <div class="section-header__description">
          {% if search.performed %}
            {% if search.results_count == 0 %}
              {{ 'general.search.no_results_html' | t: terms: search.terms }}
              {% render 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--page' %}
            {% else %}
              {{ 'general.search.result_count' | t: count: search.results_count }}
            {% endif %}
          {% else %}
            {% render 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--page' %}
          {% endif %}
        </div>
      </header>

      {% if search.performed %}
        <div data-section-id="{{ section.id }}" data-section-type="collection-template">
          <div class="grid grid--uniform">
            {% for item in search.results %}
<script type='application/json' class='bold-product-json'>{{ item | json }}</script>

              {% if item.object_type == 'product' %}
                {% assign product = item %}
                {% render 'product-grid-item'
                  product: product,
                  grid_item_width: grid_item_width
                %}
              {% else %}
                <div class="grid__item grid-search medium-up--one-quarter medium--one-half">
                  <div class="grid-search__page">
                    <a href="{{ item.url }}" class="grid-search__page-link">
                      <span class="grid-search__page-content">
                        <span class="h4">{{ item.title }}</span>
                        {% if item.object_type == 'article' and item.image %}
                          {%- assign img_url = item.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                          <img class="grid-product__image lazyload"
                              data-src="{{ img_url }}"
                              data-widths="[180, 360, 540]"
                              data-aspectratio="{{ item.image.aspect_ratio }}"
                              data-sizes="auto"
                              alt="{{ item.title | escape }}">
                        {% endif %}
                        {{ item.content | strip_html | truncatewords: 60 }}
                      </span>
                    </a>
                  </div>
                </div>
              {% endif %}

            {% endfor %}
          </div>
        </div>

        {% if paginate.pages > 1 %}
          {% render 'pagination', paginate: paginate %}
        {% endif %}

      {% endif %}

    </div>
  </div>
</div>

{% endpaginate %}
